{% extends 'dias_de_la_semana.html' %}
{% block content %}
      <div class="container contenido my-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">About</h1>
                <p class="card-text lead">🚀 Task List is an application created as a personal exercise to master the technologies involved. In this case, I used Django, Python and Bootstrap in addition to the basic web technologies HTML, CSS and JS.</p>
                <p class="card-text lead">This app allows you to:</p>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">📝 View tasks: The task list view allows you to see the name of pending tasks, the time to be performed and by clicking you can see the description associated with it.</li>
                    <li class="list-group-item">
                        ⏰ When the task's time arrives, a message will appear on the screen indicating that it's time to perform it!
                    </li>
                    <li class="list-group-item">✏️ Edit tasks: The task editing view allows you to make any changes to the task attributes and then save the changes.</li>
                    <li class="list-group-item">🗑️ Delete tasks: The delete tasks view simply allows you to delete tasks and rearrange the list accordingly.</li>
                    <li class="list-group-item">✅ Completed Tasks: The completed tasks view allows you to see a list of tasks that you marked with the check button as completed tasks, and also allows you to reuse the completed task or delete it permanently.</li>

                </ul>
                <p class="card-text lead text-center agradecimiento"><i>I hope you enjoy this simple app, thank you!</i> 😊</p>
                <p class="card-text autor">Alex Franco</p>
            </div>
        </div>
      </div>
      {% endblock %}