{% extends 'dias_de_la_semana.html' %}
{% block content %}
      <div class="container contenido">
        <h1 class="text-center my-3">Edit Task</h1>
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6 offset-md-3">
                <label for="{{ form.titulo.auto_id }}" class="form-label">Title</label>
                <input type="text" name="{{ form.titulo.name }}" value="{% if form.titulo.value != None %}{{ form.titulo.value }}{% endif %}" class="form-control" id="{{ form.titulo.auto_id }}" required>
            </div>
            <div class="col-md-6 offset-md-3">
                <label for="{{ form.descripcion.auto_id }}" class="form-label">Description</label>
                <textarea name="{{ form.descripcion.name }}" class="form-control" id="{{ form.descripcion.auto_id }}">{% if form.descripcion.value != None %}{{ form.descripcion.value }}{% endif %}</textarea>
            </div>
    
            <div class="col-md-6 offset-md-3">
                <label for="{{ form.hora.auto_id }}" class="form-label">Time</label>
                <input type="time" name="{{ form.hora.name }}" value="{{ form.hora.value|time:'H:i' }}" class="form-control" id="{{ form.hora.auto_id }}" required>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <a href="{% url 'lista_de_tareas' dia %}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                </button>
            </div>
        </form>
    </div>
    {% endblock %}