{% extends 'dias_de_la_semana.html' %}
{% block content %}
    <div class="container contenido my-3">
        <h1 class="text-center my-3">Completed Task List</h1>

        <div class="text-center mb-3">
            <a href="{% url 'lista_de_tareas' dia %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i>
            </a>   
        </div>

        <ul class="list-group">
            {% for tarea in tareas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-check"></i>
                        {% if tarea.hora %}
                            <span class="mx-2">{{tarea.hora|time:"H:i"}}</span>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 text-center">
                        {{tarea.titulo}}
                    </div>
                    <div>
                        <a href="{% url 'volver_tarea_pendiente' tarea.id %}" class="btn btn-success btn-sm">
                            <i class="fas fa-undo"></i>
                        </a>
                        <a href="{% url 'eliminar_tarea' tarea.id 'lista_de_tareas_completadas' dia %}" class="btn btn-danger btn-sm">
                          <i class="fas fa-trash-alt"></i>
                      </a>
                      
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}